body {
    background-color:black;
    color:white;
}
nav>ul>li {color:yellow}
article {
    background-color: blueviolet;
}
header {
    text-align: center; 
}

section {
 /* grid */
   
    /* despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}
    section>header {
        /* esta sección se extenderá 12 columnas. */
        grid-column: span 12;
    }
    section>main {
        /* esta sección se extenderá 12 columnas. */
        grid-column: span 8;
    }
    section>aside {
        /* esta sección se extenderá 12 columnas. */
        grid-column: span 4;
    }
    section>footer {
        /* esta sección se extenderá 12 columnas. */
        grid-column: span 12;
    }

/* Termina grid */
nav>ul{
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
    color: greenyellow;
    text-decoration: none;
    padding-bottom: 0.5rem;
    display:flex
}
hgroup {
    align-content: center;
    justify-content: space-between;
}
section>header {
    grid-column: span 12;
}
hgroup>header>article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2>hgroup>header>article {
    display: flex;
    align-items: center;
}

img>h2>hgroup>header>article {
    margin-right: 1rem;
}
#footer_blog div:nth-child(2) {
    font-size: 0.9rem;
    
}

aside>div>img {
    background-color:#fff
}
aside div img {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
}

#footer_blog:nth-child(2) {
    font-size: 9rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

aside>h2{
    text-align: center;
    font-size: 1.3rem;
}

aside>div {
background-color: rgb(44, 43, 43);
}