body {
    background-color:black;
    color:white;
}
nav>ul>li {color:yellow}
article {}
header {
    text-align: center; 
}

section {
 /* grid */
   
    /* despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}
    section>header {
        /* esta sección se extenderá 12 columnas. */
        grid-column: span 12;
    }
    section>main {
        /* esta sección se extenderá 12 columnas. */
        grid-column: span 8;
    }
    section>aside {
        /* esta sección se extenderá 12 columnas. */
        grid-column: span 4;
    }
    section>footer {
        /* esta sección se extenderá 12 columnas. */
        grid-column: span 12;
    }

/* Termina grid */
nav >ul{
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
    color: greenyellow;
    text-decoration: underline;
    padding-bottom: 0.5rem;
    display:flex
}
hgroup {
    align-content: center;
    justify-content: space-between;
}